<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981558233351-8c0rn4pbja8de7je8s0uc1cubmo14bvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981558233351-8c0rn4pbja8de7je8s0uc1cubmo14bvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJJ9is_pdixGfRhP8kupPZMyHeq04Nt5k</string>
	<key>GCM_SENDER_ID</key>
	<string>981558233351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin.antony.golfScoreSheet</string>
	<key>PROJECT_ID</key>
	<string>golf-score-sheet</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-score-sheet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981558233351:ios:df44537dec7006fca5dda2</string>
</dict>
</plist>